header {
    width: 80%;
    height: auto;
    background-color: ;
    color: #FF1493;
    margin: 0 auto;
    font-family: 'Fredoka One';
    text-align: center;
}

nav{
  width: 325px;
  height: 50px;
  background-color: ;
  margin: 0 auto;
}

nav ul{
  margin-left: -30px;
}
nav ul li{
  list-style: none;
  display: inline-block;
  /* width: 100px; */
  text-align: center;
  margin-right: 20px;
}
nav ul li a{
  text-decoration: none;
  color:  black;
  font-size: 15px;
}

nav ul li a:hover{
  background-color: pink;
}

main {
    width: 80%;
    height: 600px;
    margin: 0 auto;
}

footer {
    width: 80%;
    height: 50px;
    margin: 0 auto;
}

#grid1{
  display: grid;
  grid-template-areas: "col1 col2";
  grid-template-rows: 1fr;
  /*or use 1fr and that automatically sets the rows to the size of the content within*/
  grid-template-columns: 50% 50%;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

#col1{
  grid-area: col1;
  height: auto;
}

#col2{
  grid-area: col2;
  height: auto;
}

#grid2{
  display: grid;
  grid-template-areas: "col5";
  grid-template-rows: 1fr;
  grid-template-columns: 100%;
  text-align: left;
  padding-left: 150px;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
}

#grid3{
  display: grid;
  grid-template-areas: "col3 col4";
  grid-template-rows: 1fr;
  /*or use 1fr and that automatically sets the rows to the size of the content within*/
  grid-template-columns: 50% 50%;
  text-align: center;
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
}

#col3{
  grid-area: col3;
  height: auto;
}

#col4{
  grid-area: col4;
  height: auto;
}


.images{
  height: 300px;
  display: block;
  margin: 10px auto;
}
.dukeimages{
  height: 200px;
  display: block;
  margin: 10px auto;
}

#header{
  border-style: ridge;
  border-width: 5px;
  width: 93%;
  height: 20px;
  padding: 20px;
  margin: 0 auto;
  border-color: aliceblue;
  background-color: aliceblue;
  font-family: 'Fredoka One';
  text-align: center;
  font-size: 21px;
  color: #FF1493;
}
